/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and Global Styles */
  body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    color: #2f2f2f;
    line-height: 1.6;
    background-color: #efeae3;
  }
  
  h1, h2, h3 {
    font-family: 'Domine', serif;
    font-weight: 700;
    color: #5f6b73;
    margin-top: 1.5rem;
    text-align: center;
  }
  
  /* Top Bar Styles */
  .top-bar {
    background-color: #efeae3;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #c2cfc2;
    line-height: 0;
  }
  
  .top-bar-logo {
    height: 60px;
    max-width: 100%;
    object-fit: contain;
    display: block;
  }
  
  /* Header Styles */
  header {
    background-color: #7d9775;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #efeae3;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Main Welcome Section */
  .welcome-message {
    max-width: 1000px;
    margin: auto;
    padding: 1 rem;
    text-align: center;
  }
  
  .carousel {
    position: relative;
    max-width: 600px;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    overflow: hidden;
  }  
  
  .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 8px;
  }
  
  .carousel-image.active {
    opacity: 1;
    z-index: 1;
  }

  /* Facebook Feed Section */
  #facebook-feed {
    text-align: center;
    margin: 40px 0;
  }
  
  /* Section Styles */
  section {
    margin: 40px 0;
  }
  
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  
  a.button {
    display: inline-block;
    background-color: #7d9775;
    color: #efeae3;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  a.button:hover {
    background-color: #d4b36f;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #7d9775;
    color: #efeae3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
  
  footer p {
    margin: 0;
    line-height: 1;
  }
  
  